<html>
  <head>
    <title>Add-Product Page</title>
    <link rel="stylesheet" href="/css/add-product.css">
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Shop</a></li>
          <li class="main-header__item">
            <a href="/admin/add-product" class="active">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <form action="/admin/add-product" method="POST" class="main-form">
      <div>
        <input
          type="text"
          name="title"
          id="input-text"
          class="main-form__input"
        />
      </div>
      <div>
        <button type="submit" id="add-product__btn" class="main-form__btn">
          Add Product
        </button>
      </div>
    </form>
  </body>
</html>
